:root {
  --text-color: #5d2e46;
  --background-color: #e8d6cb;
  --accent-color: #b58db6;
  --button-background: #5d2e46;
  --button-font-color: #b58db6;
  --heading-font: "Abril Fatface";
  --small-font: "Josefin Sans", "sans-serif";
}

h1,
h2,
h3,
p {
  text-align: center;
  color: var(--text-color);
}

h1 {
  font-size: 26px;
  font-family: var(--small-font);
}

h2,
h3 {
  font-family: var(--heading-font);
}

p {
  font-size: 40px;
  font-family: "Abril Fatface";
}

.btn-custom {
  background: var(--button-background);
  color: var(--button-font-color);
  border: none;
  transition: all ease-in-out 200ms;
  font-family: var(--small-font);
}

.navbar {
  background: var(--background-color) !important;
}

.nav-link,
.navbar-brand {
  color: var(--text-color) !important;
}

.navbar-brand {
  font-family: var(--heading-font);
}

body {
  background: var(--background-color);
}

.btn:hover {
  background: var(--button-font-color);
  color: var(--button-background);
}

.nav-link:hover {
  color: var(--accent-color) !important;
  transition: all 100ms ease-in-out;
}

.nav-link {
  font-family: var(--small-font) !important;
  font-size: 20px !important;
}

.about-me {
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.about {
  padding-top: 30px;
}

.services {
  padding-top: 160px;
  margin: none;
}

.services-container {
  padding: 30px;
}

.service1,
.service2 {
  background: var(--background-color);
  border-radius: 16px;
  padding: 30px;
  border: 2px solid;
  border-color: var(--button-background);
}

.services-container p {
  font-size: 26px;
  color: var(--text-color);
  font-family: var(--small-font);
  hyphens: none;
  padding-top: none !important;
}

@media screen and (max-width: 768px) {
  .hyphenate {
    hyphens: auto;
  }
}

.fa-pen-ruler,
.fa-display-code {
  color: var(--text-color);
}

.title {
  padding-top: none;
}

.blurb {
  padding-bottom: 60px;
}

.content {
  padding-top: 30px;
}
h3 {
  padding: 30px;
}
.content-container {
  padding-top: 30px !important;
}

.contact-info h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  padding: 30px;
}
.contact-info p {
  font-family: var(--small-font);
  font-size: 26px;
}
.custom-link {
  text-decoration: none;
  color: var(--button-font-color);
  transition: all 100ms ease-in-out;
}

.custom-link:hover {
  color: var(--text-color);
}
