h1,
h2,
h3,
p {
  text-align: center;
}

.container {
  padding-top: 120px;
}

#text1 {
  padding-left: 15px;
  padding-top: 120px;
  padding-bottom: 0%;
}

#text2 {
  padding-left: 15px;
  padding-bottom: 15px;
}
